html,
body {
    font-family: 'Titillium Web';
    margin: 0;
}

.box {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.box .row.content {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow: hidden;
}

.composerSidebarTextarea {
    height: calc(100vh - 30em);
    flex-grow: 1;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    color: aqua;
}

.fh {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

.gridZoomLevelSelect {
    font-size: 22px;
    font-family: 'Titillium Web';
    background-color: black;
    color: aqua;
}

.MouseLocationPanel {
    position: absolute;
    top: 0;
    right: 0;
    width: 370px;
    padding: 12px 12px;
}

.navLink:link {
    text-decoration: none;
    color: aqua;
}

.navLink:visited {
    text-decoration: none;
    color: aqua;
}

.navLink:hover {
    text-decoration: none;
    color: white;
}
