.navLink:link {
    text-decoration: none;
    color: aqua;
  }
  
  .navLink:visited {
    text-decoration: none;
    color: aqua;
  }
  
  .navLink:hover {
    text-decoration: none;
    color: white;
  }