.MouseLocationPanel {
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 300px;
    padding-top: 12px;
    padding-left: 18px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px 0px 0px 0px;
}

.OptionsBar {
    position: absolute;
    padding: 10px;
    bottom: 0px;
    width: calc(100% - 240px);
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    z-index: 1000;
}

.PositionsTable {
    position: absolute;
    top: 10px;
    left: 0;
    padding-left: 250px;
}
